# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# back_end
back_end/node_modules
back_end/package-lock.json
back_end/.env.local

front_end/node_modules
front_end/package-lock.json
